<div class="container">
    <h1>Cubos de la marca {{marca}}</h1>
    <div class="card" style="width:18rem" *ngFor="let cubo of cubos">
      <img src="{{cubo.imagen}}" alt="" class="img-top">
      <div class="card-body">
        <h3 class="card-title">{{cubo.nombre}}</h3>
        <p class="card-text">{{cubo.precio}} €</p>
        <p class="card-text">Valoracion: {{cubo.valoracion}}</p>
        <a class="btn btn-danger" [routerLink]="['/detalles/' + cubo.idCubo]">Ver Detalles</a>
      </div>
    </div>
  </div>
